<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.system.mapper.SysProjectRoleMenuMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.system.domain.SysProjectRoleMenuKey">
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <id column="status" jdbcType="BIGINT" property="status"/>
        <id column="create_by" property="createBy"/>
        <id column="create_time" property="createTime"/>
        <id column="update_by" property="updateBy"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        role_id
        , menu_id
        , status
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="cn.staitech.system.domain.SysProjectRoleMenuKey">
        delete
        from sys_project_role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
          and menu_id = #{menuId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="role_id" keyProperty="roleId"
        parameterType="cn.staitech.system.domain.SysProjectRoleMenuKey" useGeneratedKeys="true">
        insert into sys_project_role_menu (menu_id)
        values (#{menuId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="role_id" keyProperty="roleId"
        parameterType="cn.staitech.system.domain.SysProjectRoleMenuKey" useGeneratedKeys="true">
        insert into sys_project_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="selectMenuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_project_role_menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </select>
    <select id="selectRoleId" resultType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_project_role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
    </select>
    <select id="selectMenuRole" resultType="cn.staitech.system.domain.SysProjectRoleMenuKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_project_role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
        and menu_id = #{menuId,jdbcType=BIGINT}
    </select>
    <insert id="insertProjectRM" parameterType="cn.staitech.system.domain.SysProjectRoleMenuKey">
        insert into sys_project_role_menu (
        <if test="roleId != null and roleId != '' ">role_id,</if>
        <if test="menuId != null and menuId != '' ">menu_id,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        create_time,
        update_time
        )values(
        <if test="roleId != null and roleId != ''">#{roleId,jdbcType=BIGINT},</if>
        <if test="menuId != null and menuId != ''">#{menuId,jdbcType=BIGINT},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
        sysdate(),
        sysdate()
        )
    </insert>
    <insert id="insertPorRMList" useGeneratedKeys="true">
        insert into sys_project_role_menu(
        role_id,
        menu_id,
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        create_time,
        update_time
        )
        values
        <foreach collection="projectRM" item="project" separator=",">
            (
            #{project.roleId},
            #{project.menuId},
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            sysdate(),
            sysdate()
            )
        
        </foreach>
    </insert>
    <delete id="deletePorRMList">
        delete from sys_project_role_menu
        <foreach collection="projectRM" item="project" separator=",">
            where role_id = #{project.roleId}
            and menu_id = #{project.menuId}
        </foreach>
    </delete>
    <update id="updateStatus" parameterType="cn.staitech.system.domain.SysProjectRoleMenuKey">
        update sys_project_role_menu
        set status = 0
        where role_id = #{project.roleId}
          and menu_id = #{project.menuId}
    </update>
    <delete id="deleteRoleId" parameterType="java.lang.Long">
        delete
        from sys_project_role_menu
        where role_id = #{roleId}
    </delete>
</mapper>